
<app-header></app-header>
<div class="about-section">
    <h1>About Us </h1>
    <img src="https://images.pexels.com/photos/7688159/pexels-photo-7688159.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
    
    <!-- <h4>Furni-Tour </h4> -->
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row" >
    <div class="column" style="height: 500px;">
      <div class="card">
        <!-- <img src="https://images.pexels.com/photos/4342352/pexels-photo-4342352.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Jane" style="width:100%"> -->
        <div class="container">
          <h2>Miss. Mary</h2>
          <p class="title">CEO</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>mary@furni.com</p>
         
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <!-- <img src="https://images.pexels.com/photos/4195342/pexels-photo-4195342.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Mike" style="width:100%"> -->
        <div class="container">
          <h2>Mr. Kiran</h2>
          <p class="title">Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>kiran@furni.com</p>
          
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <!-- <img src="https://images.pexels.com/photos/9304687/pexels-photo-9304687.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="John" style="width:100%"> -->
        <div class="container">
          <h2>Miss. Kim</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>Kim@furni.com</p>
          
        </div>
      </div>
    </div>
  </div>
<app-footer></app-footer>
