<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4">
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Footer Elements -->
    <div class="container">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-lg-2 col-md-12 mb-4"><br>

          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img
              src="https://ii2.pepperfry.com/media/catalog/product/a/i/236x260/airi-3-door-wardrobe-in-wenge-finish---mintwud-by-pepperfry-airi-3-door-wardrobe-in-wenge-finish---m-bo9u16.jpg"
              class="img-fluid" alt="">
            <a href="">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4"><br>

          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img
              src="https://ii1.pepperfry.com/media/catalog/product/s/y/236x260/symes-solid-wood-bench-in-honey-oak-finish-by-amberville-symes-solid-wood-bench-in-honey-oak-finish--1psgkx.jpg"
              class="img-fluid" alt="">
            <a href="">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4"><br>

          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img
              src="https://ii2.pepperfry.com/media/catalog/product/l/i/236x260/liam-sofa-dividor-in-charcoal-grey-colour-by-muebles-casa-liam-sofa-dividor-in-charcoal-grey-colour--0xqrhg.jpg"
              class="img-fluid" alt="">
            <a href="">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-2 col-md-12 mb-4"><br>

          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img
              src="https://ii3.pepperfry.com/media/catalog/product/y/a/236x260/yaya-book-shelf-in-red-colour-by-mintwud-yaya-book-shelf-in-red-colour-by-mintwud-a6d7ob.jpg"
              class="img-fluid" alt="">
            <a href="">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4"><br>

          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img
              src="https://ii3.pepperfry.com/media/catalog/product/b/o/236x260/book-shelf-in-blue-finish-by-klaxon-book-shelf-in-blue-finish-by-klaxon-8rf6rb.jpg"
              class="img-fluid" alt="">
            <a href="">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4"><br>

          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img
              src="https://ii3.pepperfry.com/media/catalog/product/z/a/236x260/zafit-arrow-book-shelf-in-blue-finish-by-lycka-zafit-arrow-book-shelf-in-blue-finish-by-lycka-lpsxkv.jpg"
              class="img-fluid" alt="">
            <a href="">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>

    <!-- Footer Elements -->
  </nav>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-center nav justify-content-center">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">

      <div class="col-12 social padding"> <a id="a3">Connect : &nbsp; </a>
        <a href="https://www.facebook.com/"><i style="width: 20px; height: 20px;" class="fab fa-facebook"></i></a>&nbsp;
        <a href="https://www.twitter.com/"><i style="width: 20px; height: 20px;" class="fab fa-twitter"></i></a>&nbsp;
        <a href="https://www.instagram.com/"><i style="width: 20px; height: 20px;"
            class="fab fa-instagram"></i></a>&nbsp;
        <a href="https://www.youtube.com/"><i style="width: 20px; height: 20px;" class="fab fa-youtube"></i></a>&nbsp;
        <a href="https://mail.google.com/mail/"><i style="width: 20px; height: 20px;"
            class="fab fa-google-plus-g"></i></a>
      </div>
    </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-center nav justify-content-center">
    <div class="footer-copyright text-center py-3">
      <a id="a1" href="https://mdbootstrap.com/"> © 2020 Copyright : Furni-Tour.com</a>
    </div>
    <!-- Copyright -->
  </nav>




</footer>

<!-- Footer -->