
<div class="main-block">
    

    <form action="/">

        <div class="title">

            
            <h2>Add Category</h2>
        </div>
        <a routerLink="/admin"><button style="width: 35%;"> Back to Admin</button></a> <br><br>
        <div [hidden]="submitted" style="width: 400px">


            <form (ngSubmit)="onSubmit()">

                <div class="form-group">
                    <label for="name">CategoryName</label>
                    <input type="text" class="form-control" id="categoryName" required
                        [(ngModel)]="Category.categoryName" name="categoryName" required />
                </div>


                <div class="form-group">
                    <label for="name">categoryImage</label>
                    <input type="file" class="form-control" id="categoryImage" required
                        [(ngModel)]="Category.categoryImage" name="categoryImage" />

                </div>


                <button type="submit" class="btn btn-success">Submit</button>

        
            </form>

        </div>


    </form>
    </div>

<div>